/* ===================================== 
   Grid Layout
======================================== */

.grid {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  grid-gap: 15px;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}


