/* ===================================== 
   Grid Layout
======================================== */

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 100px minmax(200px, 1fr) 100px;
}

header {
    grid-column-start: 1;
    grid-column-end: -1;
}

footer {
    grid-column-start: 1;
    grid-column-end: -1;
}



